:root {
  --bg-color: light-dark(#f9f9ff, #33333f);
  --font-color: light-dark(#333333, #dddddd);
  --theme-color: light-dark(#ABEACD, #2A89BF);
  --accent-color: light-dark(#EB78C2, #791856);
  --font-size: 20px;
  --line-height: 1.5;
  --magic: calc(var(--font-size) * var(--line-height));

  font-family: Roboto, Arial, sans-serif;
  line-height: var(--line-height);
  font-weight: 400;
  font-size: var(--font-size);

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root:has(#light-toggle:checked) {
  color-scheme: dark;
}

:root:has(#dark-toggle:checked) {
  color-scheme: light;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100dvw;
  min-height: 100dvh;
  color: var(--font-color);
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column nowrap;
}
